<configuration> 
  <property name="log.base" value="../logs/prm" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.base}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <MaxFileSize>1MB</MaxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date %level [%thread] %-5level %logger{36} %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="org.hibernate.SQL" level="ERROR">
  	<appender-ref ref="FILE" />
  </logger>

  <logger name="org.hibernate.type" level="ERROR">
  	<appender-ref ref="FILE" />
  </logger>

  <logger name="com.prm" level="TRACE">
  	<appender-ref ref="FILE" />
  </logger>
  
</configuration>